.parallax {
    /* Coloque a imagem a ser usada como background */
    background-image: url("https://image.freepik.com/vetores-gratis/pessoas-que-transportam-doacao-e-caridade-relacionados-com-icones_53876-59881.jpg");
     
    /* Defina uma altura para a visão que o usuário terá da imagem */
    min-height: 350px;
     
    /* defina o background como fixo e posicione a imagem */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }


    .divisao{


        height: 200px;
    }