body{

    font-family: 'Open Sans', sans-serif!important;

}

.rodape{
    background-color:#434343;
}


.bg-light {
    background-color: #434343!important;

}
.btn-primary {
    color: #fff;
    background-color: #ffc107 !important;
    border-color:#ffc107!important;
}

.rodapetitulo{

display: flex;  
justify-content: space-around;
flex-direction: column;
align-items: center;
height: 12rem;
padding-top: 4rem;

}

#p_rodape{


font-size: 15px;
color: #d4d4d4;

}
.subtitulopai{

display: flex;
flex-direction: column;
padding-right: 12rem;
}

.rodapesubititulo{

color: white;
display: flex;
justify-content: center;
align-items:center;


}

.rodapeiconisinput{

    display: flex;



}

#rodapeicons{

    margin-right: 20px;
}

.iconsrodape{

display: flex;
justify-content: center;
align-items: center;

}

.newlesterrodape{

    display: flex;
    justify-content: center;
   
  

}

.botaonewlesterrodape{

width: 50%;

}

#metadediv{

    width: 50%;
}

.direitosautoraisrodape{

    display: flex;
    justify-content: center;
    padding-top: 3rem;

}

.rodapesocial{

flex-direction: column;
width: 50%;
}

.newnoticiasrodape{

display: flex;
flex-direction: column;
width: 50%;
}

#socialnewlaster{

    display: flex;

}

.childrodape{

margin-left: 10%;
margin-right: 10%;

}


@media screen and (max-width: 770px) {
    .rodapesocial   {
        width: 100%;
    }
    .newnoticiasrodape   {
        width: 100%;
        padding-top: 3rem;
    }

    #socialnewlaster{
     flex-direction: column;
     padding-top: 3rem;

    }
    #metadediv{
     width: 90%;
    }
    .direitosautoraisrodape {
        display: flex;
        justify-content: center;
        padding-top: 3rem;
        padding-left: 23%;}

}
